<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= title %></title>
<meta name="description" content="Innected is not just a podcast. Innected is a place to Share experiences and inspirations with entrepreneurs that have the same mind, to thrive the future together">
<meta name="keywords" content="innected,entrepreneur,money,growth,personal growth,podcast" />
<meta name="robots" content="index,follow" />
<meta property="og:url"                content="http://innectedpodcast.com<%= link %>" />
<meta property="og:title"              content="<%= title %>" />
<meta property="og:description"        content="Innected is not just a podcast. Innected is a place to Share experiences and inspirations with entrepreneurs that have the same mind, to thrive the future together" />
<meta property="og:image"              content="/content/biglogo.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/main.css">
<link rel="icon" href="/content/innected-logo.png">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800" rel="stylesheet"> 
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">