<nav class="nav-bar">
    <ul class="nav-links" >
        <div class="hero-link">
            <a href="https://discord.gg/3hG6VAZa6t" target="_blank" class="nav-link n-link1">Discord</a>
            <div class="nav-swipe n-swipe1"></div>
        </div>
        <div class="hero-link">
            <a href="https://twitter.com/InnectedPodcast" target="_blank" class="nav-link n-link2">Twitter</a>
            <div class="nav-swipe n-swipe2"></div>
        </div>
        <div class="hero-link ">
            <a href="https://www.youtube.com/channel/UCqbgNZ-UcBQX_t1QNMzQIKQ" target="_blank" class="nav-link n-link3">Youtube</a>
            <div class="nav-swipe n-swipe3"></div>
        </div>
    </ul>
    <div class="contact">
            <h2>Thank you</h2>
            <p>Thanks for being here and believing in our project. We love to have a talk with everybody, so either message us on Discord or write at innected@gmail.com</p>
    </div>
</nav>